* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Tahoma, Arial;
}

body {
  background: #f4f4f4;
}

/* الشريط العلوي */
.top-bar {
  height: 55px;
  background: #f2eee6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 300;
}

/* السلة */
.cart-icon {
  font-size: 22px;
  cursor: pointer;
}

/* اللوجو */
.logo-container {
  width: 90%;
  max-width: 520px;
  margin: 15px auto 10px;
  position: relative;
}

.logo-img {
  width: 100%;
  height: 290px;        /* كان 220 – كبرناه */
  object-fit: contain;
  border-radius: 14px;
}


.logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;      /* مناسب مع الحجم الجديد */
  font-weight: bold;
  color: #000000;          /* أسود */
  text-align: center;
  white-space: nowrap; /* يمنع خروج النص */
}


/* المنتجات */
#products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

/* المنتج */
.product {
  width: calc(50% - 5px);
  background: white;
  border-radius: 14px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.product img {
  width: 100%;
  height: 170px;
  object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
}

.product-info h4 {
  font-size: 14px;
  margin-top: 6px;
}

.product-info p {
  font-size: 13px;
  margin-top: 4px;
}

/* التحكم */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}

.controls button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.controls span {
  margin: 0 8px;
}

/* تكبير الصورة */
.image-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  z-index: 500;
  justify-content: center;
  align-items: center;
}

.image-modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

/* السلة */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 400;
}

.modal-content {
  background: white;
  width: 90%;
  max-width: 400px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 14px;
}

.close {
  cursor: pointer;
  float: left;
  font-size: 22px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.whatsapp {
  width: 100%;
  padding: 10px;
  background: #25D366;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}
